    /* Global*/

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        font-size: 12px;
        font-family: 'Josefin Sans', sans-serif;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    a{
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
    }
    /* Header & NabBar */ 

    .nav_bar{
        background-color: #240053;
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
    }
    .nav_items{
        font-size: 1.3rem;
        color: #f9faf8;
        text-transform: uppercase;
    }
    .nav-item{
        margin-left: 1.2rem;
        padding: 20px 0;

    }
    .dropdown-menu.show{
        background-color: #3f068a91;
        border: 1px solid #ffc115;
        
    }
    .dropdown-menu.show .dropdown-item{
        color: #ffc115;
    }
    .dropdown-item:focus, .dropdown-item:hover{
        background-color: #855600 !important;
    }
    .dropdown-menu[data-bs-popper]{
        top: 80% !important;
    }
    .logo-area{
        padding:1rem 2rem ;
   }
   #company-logo{
       font-family: 'poppins',sans-serif;
       font-size: 35px;
       padding: 0 1.2rem;
       color: #490066;
       background-image: linear-gradient(180deg,rgb(231, 104, 0),rgb(255, 136, 0),#ffc115);
       border-radius: 2rem;
   }

   /* main section */
   
   .Hero-area{              
       background-image: linear-gradient(180deg,rgb(61, 2, 138),rgb(105, 59, 165),rgb(177, 138, 228));
       padding: 70px 0 ;
    }
     .Hero-text{
         text-align: center;
         padding: 2rem 2.5rem;
     }
     .Hero-text h1{
         font-family: 'poppins','Lucida Sans', Verdana, sans-serif;
         font-weight: bolder;
         font-size: 52px;
         text-shadow: 4px 4px 4px rgb(77, 77, 77);
         color: #f9faf8
     }
     .Hero-text p{
         font-size: 25px;
         text-shadow: #000000;
         color: #ddd900;
         margin-top: 4rem;
    }
        
    .image-text-1{
        font-size: 16px;
        font-family: 'Josefin Sans',sans-serif;            
        text-align: center;
        background-color: goldenrod;            
        }
        .card-body{
            padding: 0 !important;
        }

    /* products */

        .products_title{
            padding: 0.8 0;
            background-color: #f7d30b;
        }

        .products_title h2{
            font-family: 'Raleway' , sans-serif;
            color:#3d028a;
            margin-bottom: 0;
        }
        .our-collection{
            font-family: 'Raleway',sans-serif;            
            padding: 1.2rem;
            background-color: rgb(250, 247, 231);;   
        }
        
    .products-list-images figure{
        display: flex;
        flex-direction: column;
        gap: 5px;    
    }
    .products-list-images figure img{
       width:auto; 
       height: 600px;
       border-radius: 1rem;
    }
    .products-list-images figure span{
        font-size: 15px;
        color: rgb(61, 2, 138);
        background-color:rgba(247, 212, 11, 0.062) !important;
        background-blend-mode: lighten;
        border-radius: 1rem;
        text-align: center;
    }
    .product-cont{
        overflow: hidden;
    }
    .overlay-hov{
        width: 100%;
        height: 95.7%;
        top: 100%;
        background-color: #000000ba !important;        
        left: 0;
        padding-top: 6rem !important;
        transition: all 230ms ease;
        border-radius: 1rem;
    }
    .product-cont:hover .overlay-hov{
        top: 0;
    }
    .overlay-title h3{
        font-size: 2.8rem;
        padding: 7px 2px;
        text-align: center;
        color: #f7d30b;
        text-transform: capitalize;
    }

    /* Quote */

    .quote{
        
        padding: 50px 0;
    }

    blockquote{
        font: lighter italic 36px Georgia, 'Times New Roman', Times, serif;
        background-color: #E5E7EB;
        color: #1F2937;
        padding: 3rem 4rem;
    }
    blockquote span{
        font-size: 20px;
        color: #070707;
        display: block;
        font-weight: bold;
        text-align: end;
        font-family: sans-serif;
    }

    /*Subscribe*/

    .Subscribe{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #3d028a;
        border-radius: 10px;
        width: 67%;
        margin: 3rem auto;
        padding: 2rem 3rem;
    }
    .sub-call{        
        font-size: 2.5rem;
        color: rgb(247, 211, 11);
    }
    .subscribe-text p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
    }
    .Subscribe button{       
        background-color: rgb(247, 211, 11) !important;
        border: 1px solid white !important;
        border-radius: 10px;
    }
    button .sub_link{
        font-size: 15px;
        font-family: sans-serif;
        padding: 10px;
        text-decoration: none;
        color: rgb(61, 2, 138) !important;                      
    }

    /* footer */
    footer{       
        margin: 20px auto 0;
        background-color: rgb(61, 2, 138);
        border-radius: 2rem 2rem 0 0;
        padding: 0.3rem 0;
        text-align: center;
        width: 64%;
        text-decoration: none;
        color: white
    }

/* contact page */

    /* banner section */
    .banner-contact{
        background-image: url(Images/pexels-cottonbro-7595060.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }
    .banner_title{
        padding: 13rem 0 ;
    }
    .ban-overlay{
        background-color: #070707c0;
    }
    .ban-nav{
        background-color: #07070770;

    }
    .ban-nav p{
        color: #999999;
        font-size: 14px;
    }

    /* User Form */
    .sec-title{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-bottom: 40px;
        background-color: #5302bda6;
        margin-top: -30px;    
    }
    .User-Form{
        padding: 115px 0;
        background-image: linear-gradient(180deg,rgb(61, 2, 138),rgb(105, 59, 165),rgb(177, 138, 228));
    }
    .User-Form .container{
        border: 2px solid white;
        border-radius: 1.5rem;
        background: #7022972e;
        padding: 60px 0;
        width: 60%;
        height: 567px;
    }
    .form-title{
        font-family: 'poppins' , sans-serif;
        color: #f7d30b;
    }

    #form{
        text-align: center;
        font-size: 1.5rem;
        color: white;
        font-family: 'Raleway',sans-serif;
    }

    .form-control:focus{
        box-shadow: 0 0 0 .25rem rgba(189, 6, 178, 0.25) !important;
    }
    label{
        font-size: 12px;
        font-weight: lighter;
        font-family: monospace ,sans-serif;
    }

    .Sign-Up-btn:hover{
        background-color: #5a007e !important;
    }


    /* Responsive quaries  */
@media (min-width: 0px) and (max-width: 575px) {
    
            .nav-item{
                padding: 3px 0;
            }

            .Hero-text{
                padding: 0;
                margin-bottom: 2.2rem;
            }
            .Hero-text h1{
                font-size: 45px;
            }

            .Hero-text p{
                font-size: 20px;
                margin: 0 0.2rem;
                margin-top: 4rem;
            }
            .products_title{
                padding: 0.5rem 0;
            }

            .products_title h2{
                font-size: 25px;
                padding: 0 2px;
            }

            .products-list-images figure img{                
                height: auto;
                border-radius: 1rem;
             }

            .quote{
                margin: 2.2rem 0;
                padding: 7px 13px;
            }
            blockquote{
                font-size: 24px;
                padding: 1rem;
            }
            blockquote span{
                font-size: 13px;
                
            }
            .Subscribe{                
                flex-direction: column;                                
                width: 88%;                
                padding: 1.5rem 1.9rem;
            }
            .subscribe-text p{
                text-align: left;
            }
            .overlay-click{
                top: 0;
                height: 100%;
                width: 100%;                
                padding-top: 2.5rem !important;
                background-color: #000000ba !important;        
                left: 0;
                transition: all 230ms ease;
                border-radius: 1rem;
            }
            .overlay-title h3{
                font-size: 1.5rem;
                padding: 1px;
                text-align: center;
                color: #f7d30b;
                text-transform: capitalize;
            }
            .product-cont p{
                font-size: 12px !important;
            }
            .User-Form .container{
                padding: 60px 20px;
                width: 88%;
                height: 490px;
            }            

            
    }

@media (min-width: 576px) and (max-width: 767px) {

    .nav-item{
        padding: 3px 0;
    }

    .Hero-text{
        padding: 0;
        margin-bottom: 2.2rem;
    }
    .Hero-text h1{
        font-size: 45px;
    }

    .Hero-text p{
        font-size: 20px;
        margin: 0 0.2rem;
        margin-top: 4rem;
    }
    .products_title{
        padding: 0.5rem 0;
    }

    .products_title h2{
        font-size: 25px;
        padding: 0 2px;
    }
            
    .Subscribe{                
        flex-direction: column;                                
        width: 93%;                
        padding: 2rem;
        align-items: normal;
        justify-content: center;
    }        
    
}

@media (min-width: 768px) and (max-width: 991px) {

    .Subscribe{                
        flex-direction: column;                                
        width: 82%;                
        padding: 2rem;
        align-items: normal;
        }
    }
@media (min-width: 992px) and (max-width: 1200px) {

        .Subscribe button{
            width: 50%;
            margin-left: 32px;
        }

    }